/* terracotta: b6724b
    sage green: a1bcab
    fern green: 676c56
    creme: e5d8c8
    grey: c4c0b4 */

body {
    margin: 0;
    padding: 0;
    background-color: #e5d8c8;
    background-image: url("Invitation.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 40%;
    font-family: Libre Baskerville;
}

a {
    text-decoration: none;
    color: #a1bcab;
}

a:hover {
    color: #676c56;
}

#title {
    color: #b6724b;
    text-align: center;
    font-size: 3em;
}

.container {
    display: flex;
    justify-content: center;
}

#countdown_table {
    color: #a1bcab;
    font-size: 35px;
    margin-left: 10px;
    border: 3px solid #b6724b;
    border-radius: 3pc;
    padding: 15px;
}

#countdown_table tbody #countdown td {
    padding: 15px;
}

#countdown_header {
    /* text-align: center; */
    color: #676c56;
    font-size: 16px;
    font-weight: bold;
}

.mt-5 {
    margin-top: 1rem;
}

#frame {
    min-width: 75vw;
    min-height: 75vh;
}

@media (max-width: 517px) and (min-width: 0px) {
    body {
        background-size: 100%;
    }
    #title {
        font-size: 1.5em;
    }
    #countdown_table {
        margin-left: 3px;
        font-size: 16px;
        border: 1.5px solid #b6724b;
        border-radius: 3pc;
        padding: 3.5px;
    }
    #countdown_table tbody #countdown td {
        padding: 3.5px;
    }
    #countdown_header {
        /* text-align: center; */
        font-size: 8px;
    }
    .mt-5 {
        margin-top: 0.5rem;
    }
}