/* terracotta: b6724b
    sage green: a1bcab
    fern green: 676c56
    creme: e5d8c8
    grey: c4c0b4 */

body {
    margin: 0;
    padding: 0;
    background-color: #e5d8c8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#title {
    color: #b6724b;
    text-align: center;
}

.container {
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

#countdown_table {
    color: #a1bcab;
    font-size: 45px;
}

#countdown_table tbody tr td {
    padding: 15px;
}