/* terracotta: b6724b
    sage green: a1bcab
    fern green: 676c56
    creme: e5d8c8
    grey: c4c0b4 */

body {
    margin: 0;
    padding: 0;
    background-color: #e5d8c8;
    font-family: Libre Baskerville;
}

a {
    text-decoration: none;
    color: #a1bcab;
}

a:hover {
    color: #676c56;
}

#title {
    color: #b6724b;
    text-align: center;
    font-size: 3em;
}

.container {
    display: flex;
    justify-content: center;
}

#countdown_table {
    color: #a1bcab;
    font-size: 64px;
    border: 3px solid #b6724b;
    border-radius: 3pc;
    padding: 15px;
}

#countdown_table tbody #countdown td {
    padding: 15px;
}

#countdown_header {
    /* text-align: center; */
    color: #676c56;
    font-size: 16px;
    font-weight: bold;
}

.mt-5 {
    margin-top: 1rem;
}